.card__container {
    background-color: #000000;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    padding: 24px;
    height: auto;
    width: 100%;
}