@import '../../../assets/variables.scss';
@import '../../../assets/mixin.scss';

.card__container {
    background-color: #000000;
    @include flex-start;
    text-align: center;
    display: flex;
    padding: 24px;
    height: auto;
    width: 100%;
    @media (max-width:$screen-lg-min) {
        @include flex-center;
        padding: 12px;
    }

    @media (max-width:$screen-sm-min) {
        @include flex-center;
        padding: 12px;
    }
}