@import '../../../assets/variables.scss';

.card {
    width: calc(100% / 4 - 48px);
    max-height: calc(100% - 40px);
    background-color: green;
    padding: 18px;
    margin: 24px;
    @media (max-width:$screen-sm-min) {
        width: 100%;
    }
}