@import '../../../assets/variables.scss';
@import '../../../assets/mixin.scss';

.card__container {
    background-color: #000000;
    @include flex-start;
    text-align: center;
    display: flex;
    padding: 24px;
    height: auto;
    width: 100%;
}