@import '../../../assets/variables.scss';
@import '../../../assets/mixin.scss';

.card {
    width: calc(100% / 4 - 48px);
    max-height: calc(100% - 40px);
    background-color: green;
    padding: 18px;
    margin: 24px;
    @media (max-width:$screen-lg-min) {
        width: calc(100% / 2 - 48px);
    }
    @media (max-width:$screen-sm-min) {
        width: calc(100% / 1 - 48px);
        padding: 12px;
        margin: 12px;
    }
}