@import "../../../assets/variables.scss";
@import "../../../assets/mixin.scss";

.film__card__container {
  height: fit-content;
  padding: 12px;
  width: 100%;
  .film__card__description {
    transition: all 0.4s cubic-bezier(0, 1, 0, 1);
    text-align: center;
    padding-top: 30px;
    overflow: hidden;
    max-height: 0;
    &:hover {
      transition: all 0.4s cubic-bezier(1, 0, 1, 0);
      max-height: 9999px;
    }
    h2,
    h4,
    p {
      margin-bottom: 20px;
    }
    small,
    button {
      margin-bottom: 20px;
      display: block;
    }
  }
  .film__card {
    object-fit: cover;
    cursor: pointer;
    height: 550px;
    width: 100%;
    &:hover + .film__card__description {
      transition: all 0.4s cubic-bezier(1, 0, 1, 0);
      max-height: 9999px;
    }
  }
}
