@import "../../../assets/variables.scss";
@import "../../../assets/mixin.scss";

.film__card__container {
  justify-content: space-between;
  height: fit-content;
  display: flex;
  padding: 12px;
  width: 100%;
  .film__card__description {
    transition: all 0.05s cubic-bezier(0, 1, 0, 1);
    padding-top: 12px;
    text-align: right;
    overflow: hidden;
    max-width: 0;
    h2,
    h4,
    p {
      margin-bottom: 20px;
    }
    small,
    button {
      margin-bottom: 20px;
      display: block;
    }
  }
  .film__card {
    object-fit: cover;
    cursor: pointer;
    width: 50%;
    &:hover + .film__card__description {
      transition: all 0.05s cubic-bezier(1, 0, 1, 0);
      overflow: visible;
      max-width: 9999px;
    }
  }
  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}
