@import "../../assets/variables.scss";
@import "../../assets/mixin.scss";
footer {
  background-color: $secondColor;
  margin-top: 1030px;
  width: 100%;
  .footer__container {
    @include flex-around;
    height: 100%;
    margin: auto;
    width: 90%;
    @media (max-width: $screen-sm-min) {
      justify-content: space-between;
    }
    .footer__container__elm {
      padding: 10px;
      p,
      li {
        color: $firstColor;
        padding: 0;
      }
      a {
        transition: 0.4s;
        color: $firstColor;
        &:hover {
          color: $thirdColor;
          transition: 0.4s;
        }
      }
    }
  }
}
