@import "../../assets/variables.scss";
@import "../../assets/mixin.scss";

footer {
  padding: 20px;
  width: 100%;
  z-index: 1;
  .footer__container {
    @include flex-between;
    height: 100%;
    margin: auto;
    width: 90%;
    .footer__container__elm {
      padding: 20px;
    }
  }
}
