@mixin flex-between {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
}
@mixin flex-start {
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
}
@mixin flex-end {
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
}