@import './variables.scss';

body {
    font-family: $Comfortaa;
}

// unordered list 
ul {
    padding: 0;
    margin: 0;
}

// li elements 
li {
    position: relative;
    padding: 10px 15px;
    list-style: none;
    font-size: 18px;
    @media (max-width:$screen-sm-min) {
        font-size: 16px;
    }
}

// anchor points 
a {
    text-transform: capitalize;
    text-decoration: none;
    color: $secondColor;
    transition: 0.4s;
    font-weight: 400;
    padding: 0;
    margin: 0;
    &:hover, &:active {
        color: $thirdColor;
        transition: 0.4s;
    }
}

// generic typography
p, small, label {
    font-weight: 200;
    padding: 0;
    margin: 0;
}

//paragraphs
p {
    color: $secondColor;
    font-size: 18px;
    @media (max-width:$screen-sm-min) {
        font-size: 16px;
    }
}

small {
    color: $secondColor;
    font-size: 16px;
}


// labels 
label {
    margin-bottom: 8px;
    font-size: 18px;
    display: block;
    @media (max-width:$screen-sm-min) {
        font-size: 16px;
    }
}

// inputs 
input {
    border-radius: 10px;
    padding: 10px;
    height: 35px;
    &:hover {
        cursor: pointer;
    }
}

div {
    line-height: 24px;
}

// end generic typography 
// headliners 
h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    color: $thirdColor;
    padding: 0;
    margin: 0;
}

h1 {
    line-height: 40px;
    font-size: 32px;
    @media (max-width:$screen-sm-min) {
        font-size: 24px;
    }
}

h2 {
    line-height: 36px;
    font-size: 28px;
    @media (max-width:$screen-sm-min) {
        font-size: 22px;
    }
}

h3 {
    line-height: 34px;
    font-size: 26px;
    @media (max-width:$screen-sm-min) {
        font-size: 20px;
    }
}

h4 {
    line-height: 32px;
    font-size: 24px;
    @media (max-width:$screen-sm-min) {
        font-size: 18px;
    }
}

h5 {
    line-height: 30px;
    font-size : 22px;
    @media (max-width:$screen-sm-min) {
        font-size: 18px;
    }
}

h6 {
    font-size: 20px;
    @media (max-width:$screen-sm-min) {
        font-size: 16px;
    }
}

// buttons 
// primary button 
.primary__button {
    background-color: transparent; 
    border-color: $thirdColor;
    height: 45px;
    width: 100px;
    border: 1px;
    &:hover, &:active {
        background-color: $thirdColor;
        border-color: $secondColor;
        transition: 0.4s;
    }
}
// secondary button 