//header
//header top
.header_top {
  background-color: #000;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 1;
}
// header wrapper 
.header_wrapper {
  @include HeaderWrapper;
  @include DisplayFlex;
}
.logo_fabrique {
  width: 60%;
  img {
    width: 10%;
  }
}
//header nav
.header_nav {
  li {
    font-family: $secondFont;
  }
}
// end header
