//header
//header top
.header_top {
  background-color: #000;
  position: fixed;
  height: 70px;
  width: 100%;
  z-index: 1;
}
// header wrapper 
.header_wrapper {
  @include HeaderWrapper;
  @include DisplayFlex;
}
.logo_fabrique {
  width: 60%;
  img {
    width: 10%;
  }
}
//header nav
.header_nav {
  a {
    font-family: $secondFont;
    padding: 0px 10px;
    transition: 0.3s;
    color: red;
    opacity: 0.8;
    &:hover {
      cursor: pointer;
      color: #fff;
    }
  }
  .list_item {
    position: relative;
  }
  .dropdown_menu {
    transform: translate(-50%, -50%);
    background-color: #000;
    position: absolute;
    display: none;
    height: 400px;
    width: 400px;
    left: 50%;
    bottom: 0;
  }
  &:hover .dropdown_menu {
    display: block;
  }
}

// end header
