@import '../../../assets/variables.scss';
@import '../../../assets/mixin.scss';


.form__wrapper {
    height: 500px;
    margin: auto;
    width: 50%;
}
.form__container {
    background-color: $secondColor;
    @include flex-start;
    border-radius: 10px;
    padding: 20px;
    height: 100%;
    width: 100%;
        .form__container__item {
            text-align: center;
            width: 100%;
            input {
                width: 80%;
                border-radius: 10px;
            }
            label {
                display: block;
                margin-bottom: 10px;
            }
        }
        div, label, input {
            background-color: $secondColor;
        }
}