@import '../../../assets/variables.scss';
@import '../../../assets/mixin.scss';


// spinner 
.spinner {
    position: relative;
    height: 100px;
    width: 100px;
    div {
        animation: spinnerOne 1.2 linear infinite;
        border: 10px solid transparent;
        border-top-color: $thirdColor;
        box-sizing: border-box;
        position: absolute;
        border-radius: 50%;
        height: 100%;
        width: 100%;
    }
}

.spinner:nth-child(2) {
    animation: spinnerTwo 1.2 linear infinite;
    border-bottom-color: $thirdColor;
    border: 10px solid transparent;
}

@keyframes spinnerOne {
    0% { 
        transform: rotate(0deg);
        border-width: 10px; 
    }
    50% { 
        transform: rotate(180deg);
        border-width: 1px; 
    }
    100% { 
        transform: rotate(360deg);
        border-width: 10px; 
    }
}

@keyframes spinnerTwo {
    0% { 
        transform: rotate(0deg);
        border-width: 1px; 
    }
    50% { 
        transform: rotate(180deg);
        border-width: 10px; 
    }
    100% { 
        transform: rotate(360deg);
        border-width: 1px; 
    }
}