/** @format */

@import '../../../assets/variables.scss';
@import '../../../assets/mixin.scss';

.about__wrapper__card__container {
	height: 100%;
	margin: auto;
	width: 100%;
	.about__card__container {
		@include flex-center;
		text-align: center;
		display: flex;
		margin: auto;
		height: 100%;
		width: 90%;
		@media (max-width: $screen-sm-min) {
			width: 100%;
		}
	}
}
