@import "../../../assets/variables.scss";
@import "../../../assets/mixin.scss";

.film__card__container {
  height: fit-content;
  padding: 12px;
  width: 100%;
  .film__card__description {
    transition: all 0.4s cubic-bezier(0, 1, 0, 1);
    text-align: center;
    padding-top: 30px;
    overflow: hidden;
    max-height: 0;
    &:hover {
      transition: all 0.4s cubic-bezier(1, 0, 1, 0);
      max-height: 9999px;
    }
    .film__card__button__wrapper {
      justify-content: center;
      align-items: center;
      display: flex;
      .film__card__cta {
        border: 2px solid #cc0000;
        font-family: $Comfortaa;
        color: $thirdColor;
        padding: 15px 30px;
        transition: 0.3s;
        font-size: 20px;
        cursor: pointer;
        &:hover {
          background-color: $firstColor;
          transition: 0.3s;
          color: $secondColor;
        }
      }
    }
    h2,
    h4,
    p {
      margin-bottom: 20px;
    }
    small,
    button {
      margin-bottom: 20px;
      display: block;
    }
  }
  .film__card {
    object-fit: cover;
    cursor: pointer;
    height: 550px;
    width: 100%;
    &:hover + .film__card__description {
      transition: all 0.4s cubic-bezier(1, 0, 1, 0);
      max-height: 9999px;
    }
  }
}
