/** @format */

@import './variables.scss';
@import './typography.scss';
@import './mixin.scss';

.detail__container {
	position: relative;
	padding: 50px 0px;
	margin: auto;
	height: 100%;
	width: 60%;
	@media (max-width: $screen-lg-min) {
		width: 60%;
	}
	@media (max-width: $screen-sm-min) {
		width: 100%;
	}
	.detail__card__container {
		box-shadow: 2px 4px 10px rgba(141, 42, 70);
		background-color: $thirdColor;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		border-radius: 10px;
		padding: 10px;
		display: flex;
		height: 100%;
		width: 100%;
		.detail__card__video {
			border-radius: 10px;
			cursor: pointer;
			height: 500px;
			border: none;
			width: 100%;
		}
		.detail__card__image {
			border-radius: 10px;
			object-fit: cover;
			height: 700px;
			width: 100%;
			@media (max-width: $screen-lg-min) {
				height: 600px;
			}
			@media (max-width: $screen-sm-min) {
				height: 400px;
			}
		}
		.detail__card__info__flex {
			justify-content: flex-start;
			align-items: flex-start;
			display: flex;
			width: 100%;
			@media (max-width: $screen-lg-min) {
				flex-direction: column;
			}
			.detail__card__left {
				padding: 0px 10px 0px 10px;
				max-height: 800px;
				margin-top: 10px;
				overflow-y: auto;
				text-align: left;
				width: 100%;
				@media (max-width: $screen-lg-min) {
					max-height: fit-content;
				}
				.detail__card__info__wrapper {
					margin: 5px 0px;
					width: 100%;
					@media (max-width: $screen-lg-min) {
						justify-content: center;
						text-align: center;
					}
					div {
						width: 100%;
					}
					div:first-child {
						text-align: right;
					}
					p,
					small {
						color: $firstColor;
					}
				}
				h2,
				h3,
				h6,
				p {
					@media (max-width: $screen-lg-min) {
						text-align: center;
					}
				}
				h3 {
					color: $secondColor;
				}
			}
		}
		.detail__card__right {
			max-height: 800px;
			margin-top: 10px;
			overflow-y: auto;
			padding: 10px;
			width: 100%;
			@media (max-width: $screen-lg-min) {
				padding: 0px 10px 10px 10px;
			}
			h6 {
				color: $secondColor;
				margin-top: 5px;
			}
			p,
			h6 {
				@media (max-width: $screen-lg-min) {
					text-align: center;
				}
			}
			.detail__card__right__container {
				@include flex-between;
				width: 100%;
				@media (max-width: $screen-lg-min) {
					@include flex-center;
				}
				p {
					color: $firstColor;
				}
				button {
					margin-bottom: 5px;
				}
				.detail__card__right__item {
					background-color: $firstColor;
					@include flex-center;
					border-radius: 50px;
					margin-bottom: 5px;
					width: fit-content;
					padding: 0px 12px;
					height: 30px;
					small {
						color: $thirdColor;
					}
					a {
						color: $thirdColor;
					}
					svg {
						color: $thirdColor;
						margin-left: 10px;
					}
				}
			}
			.detail__card__right__legends {
				position: absolute;
				bottom: 70px;
				right: 30px;
				@media (max-width: $screen-lg-min) {
					position: inherit;
				}
				p {
					color: $firstColor;
				}
			}
			.detail__card__right__links {
				@include flex-start;
				margin: 5px 0px;
				width: 100%;
				@media (max-width: $screen-lg-min) {
					@include flex-center;
				}
				a {
					display: block;
					height: 30px;
					width: 30px;
					margin-right: 5px;
					svg {
						color: $firstColor;
						transition: 0.2s;
						height: 100%;
						width: 100%;
						&:hover {
							color: $secondColor;
							transition: 0.2s;
							cursor: pointer;
						}
					}
				}
			}
		}
		::-webkit-scrollbar-thumb {
			background-color: $firstColor;
		}
	}
}

.victory {
	color: gold !important;
}

.selection {
	color: silver !important;
}

.flex__festivals__containers {
	flex-direction: column;
	align-items: start;
	flex-wrap: wrap;
	display: flex;
	width: 100%;
	@media (max-width: $screen-lg-min) {
		align-items: center;
	}
}

.flex__festivals__informations {
	@include flex-center;
}
