/** @format */

@import './variables.scss';
@import './mixin.scss';

.detail__container {
	padding: 50px 0px;
	margin: auto;
	height: 100%;
	width: 50%;
	@media (max-width: $screen-lg-min) {
		width: 60%;
	}
	@media (max-width: $screen-sm-min) {
		width: 90%;
	}
	.detail__card__container {
		box-shadow: 2px 4px 10px rgba(141, 42, 70);
		background-color: $thirdColor;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		border-radius: 10px;
		padding: 10px;
		display: flex;
		height: 100%;
		width: 100%;
		.detail__card__image {
			object-fit: contain;
			border-radius: 10px;
			width: 100%;
		}
		.detail__card__info__flex {
			justify-content: flex-start;
			align-items: flex-start;
			display: flex;
			width: 100%;
			@media (max-width: $screen-lg-min) {
				flex-direction: column;
			}
			.detail__card {
				padding: 10px 10px 0px 10;
				text-align: left;
				width: 100%;
				.detail__card__info__wrapper {
					margin: 10px 0px;
					display: flex;
					width: 100%;
					@media (max-width: $screen-lg-min) {
						justify-content: center;
						text-align: center;
					}
					div {
						width: 100%;
					}
					div:first-child {
						text-align: right;
					}
					p {
						color: $firstColor;
					}
				}
				h2,
				h3,
				p {
					margin-bottom: 10px;
					@media (max-width: $screen-lg-min) {
						text-align: center;
					}
				}
			}
		}
	}
}

.detail__card__right {
	padding: 0px 10px 10px 10px;
	width: 100%;
	p {
		margin-top: 10px;
		@media (max-width: $screen-lg-min) {
			text-align: center;
		}
	}
	.detail__card__right__container {
		@include flex-between;
		margin-top: 5px;
		width: 100%;
		@media (max-width: $screen-lg-min) {
			@include flex-center;
		}
		p {
			color: $firstColor;
		}
		.detail__card__right__item {
			background-color: $firstColor;
			text-transform: capitalize;
			@include flex-center;
			border-radius: 50px;
			margin-bottom: 10px;
			margin-right: 10px;
			width: fit-content;
			padding: 0px 12px;
			height: 30px;
			small {
				color: $thirdColor;
			}
			a {
				color: $thirdColor;
			}
			svg {
				color: $thirdColor;
				margin-left: 10px;
			}
		}
	}
}
